@font-face {
	font-family: Locator;
	src: url(../fonts/Locator-Regular.woff);
}
@font-face	{
	font-family: Locator_Bold;
	src: url(../fonts/Locator-Bold.woff);
}
* {
	padding: 0;
	margin: 0;
	border: 0;

}
html, body {
	height: 100%;
}
.container {
	height: 100%;
	width: 100%;
	margin: 0 auto;
}
.search-bar {
	width: 100%;
	min-height: 40px;
}
.search-bar :first-child {
	display: inline-block;
	width: calc(100% - 100px);
	height: 40px;
	font-size: 15px;
	padding: 0 5px;
}
.search-bar :last-child {
	display: inline-block;
	width: 90px;
	height: 40px;
	padding: 0 15px;
	font-size: 15px;
}
nav {
	height: 40px;
	box-sizing: border-box;
	text-align: center;
}
nav ul {
	max-width: calc((100% / 20) * 20);
	display: inline-block;
}
nav a {	
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: grey;
	color: grey;
	display: inline-block;
	font-size: 15px;
	text-align: center;
}
nav a:hover {
	background-color: #303030;
	color: white;
}
.current {
	background-color: #303030;
	color: white;
}
.carousel {
	width: 100%;
	height: calc(100% - 80px);
	background-color: rgb(241, 241, 241);
	overflow: hidden;
	white-space: nowrap;
}
.wrapper {
	position: relative;
	height: 100%;
	-webkit-transition: left 1s ease-out 0.5s;
	-moz-transition: left 1s ease-out 0.5s;
	-o-transition: left 1s ease-out 0.5s;
	transition: left 1s ease-out 0.5s;
	transform: translateX(0);
}
.slide {
	font-family: Locator ;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
	background-color: rgb(241, 241, 241);
	height: 100%;
	word-break: break-all;
	box-sizing: border-box;
	white-space: normal;
	color: rgb(50, 50, 50);
}
.slide img {
	width: 100%;
}
.slide a {
	text-decoration: none;
	font-size: 20px;
	color: rgb(109, 109, 109);
}
.slide a:hover {
	text-decoration: underline;
}
.slide a p{
	
}
b {
	margin-right: 10px;
}

@media (max-width: 2000px) {
	.slide {
		width: 25%;
	}
}
@media (max-width: 1500px) {
	.slide {
		width: calc(100% / 3);
	}
}
@media (max-width: 900px) {
	.slide {
		padding: 5px;
	}
	.fig-img p {
		font-size: 12pt;
	}
}
@media (max-width: 800px) {
	.slide {
		width: 50%;
		padding: 10px;
	}
	.fig-img p {
		font-size: 14pt;
	}
}
@media (max-width: 600px) {
	.slide {
		width: 100%;
	}
}
@media (max-width: 600px) 
and (orientation: landscape) {
	.slide {
		width: 70%;
		margin: 0 15%;
	}
}

